<table class="table">
  <thead>
      <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <% @recipe_foods.each do |f| %>
      <tr class="active-row">
          <td><%= f.food.name%></td>
          <td><%= f.quantity %> grams</td>
          
          <td> $<%= f.food.price * f.quantity %></td>
          <% if can? :destroy, f %>
            <td><button class="btn btn-secondary">Modify</button></td>
            <td>
              <%= button_to "Delete", recipe_recipe_food_path(f), method: :delete, class:"btn btn-secondary" %>
            </td>
          <% else %>
            <td>----</td>
          <%end%>
      </tr>
      <% end %>
  </tbody>
</table>
