<div class='recipe-info'>
   <h3> Recipe <%= index + 1 %> </h3>
   <%= link_to 'REMOVE', "/users/#{params[:user_id]}/recipes/#{recipe.id}", method: :delete %>
</div>

<div class='recipe-desc'>
    <h5>Description for the recipe</h5>
    <p><%= recipe.description %></p>
</div>