<div class='recipes-container'>
    <% @recipes.each_with_index do |recipe, index| %>
        <div class='recipes'>
         <%= render 'recipe', recipe: recipe, index: index %>
        </div>
    <% end %>
</div>
