<div class='new-form'>
  <h3 class='new-form-header'>New recipe</h3>
  <%= render "form", recipe: @recipe %>
  <br>
  <div>
    <%= link_to "Back to recipe", recipes_path %>
  </div>
</div>
<%console%>