<div class="container-fluid">
  <div class="column">
    <div class="row">
      <div class="foods-table">
        <% if @foods.blank? %>
          <p>No food added yet!</p>
        <%else%>
          <%= render partial: "food-table", locals: {foods: @foods} %>
        <%end%>
    </div>
  </div>
</div>
