<div class="container-fluid">
  <% if can? :create, @foods.new %>
		<div class="add text-end">
			<%= link_to "Add food", new_food_path, method: :get, class: "btn btn-secondary"  %>
		</div>
	<%end%>
</div>

</div>
