<div class="container-fluid">
  <div class="column">
    <div class="row">
    <% if can? :create, @foods.new %>
      <div class="add text-end">
        <%= link_to "Add food", new_food_path, method: :get, class: "btn btn-secondary"  %>
      </div>
    <%end%>
      <%= current_user.name%>
      <%= current_user.role %>
      <div class="foods-table">
        <% if @foods.blank?%>
          <p>No foods present! Add one.</p>
        <%else%>
          <%= render :partial => "food-table" %>
        <%end%>
    </div>
  </div>
</div>
